* {
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: #B9EAED;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;       
}

main {
    background-color: #7CB5D2;
    text-align: center;
    color: black;   
    position:relative;
    top: 0;
    border-radius: 20px;
}

h1 {
    font-size: 3.5rem;
    text-shadow: -2px 2px 0.5px white;
    font-family: 'Comfortaa';
}

h2 {
    font-size: 2.5rem;
    text-shadow: -1px 1.5px 0.5px white;
    font-family: 'Comfortaa';    
}

h3 {
    font-size: 2rem;
    color: black;
    font-family: 'Comfortaa';
    text-align: center;
    text-shadow: -1px 1.5px 0.5px white;
    top: 30px;
    position: relative;
}

h4 {
    font-size: 1.5rem;
    color: black;
    font-family: 'Comfortaa';
}

h5 {
    font-size: 1rem;
    color: black;
}

.page-one {
    background-color: #B9EAED;
    min-height: 150vh;
    position: relative;
    color: #FFC18C;  
}

.p-me {
    margin: 20px;
    text-align: center;
    font-family: 'Comfortaa';
}

.filippa {
    width: 200px;
    height: 200px;
    display: block;
    float: right;
    border-radius: 125px;
}

.page-two {
    background-color: #9EC8D2;
    min-height: 100vh;
    position: relative;
    border-radius: 10px;   
}


.page-tree {
    background-color: #B9EAED;
    min-height: 100vh;
    position: relative;
    
}

.page-four {
    background-color: #9EC8D2;
    min-height: 100vh;
    position: relative;
    border-radius: 10px;
}

aside {
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    font-family: 'Comfortaa';
}
