* {
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: green;
    min-width: 100vh;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: bisque;
    text-align: center;

    
}

.page-one {
    background-color: aqua;
    min-height: 100vh;
    position: relative;
    
}

.page-two {
    background-color: aqua;
    min-height: 100vh;
    position: relative;
    
}

.page-tree {
    background-color: aqua;
    min-height: 100vh;
    position: relative;
    
}

.page-four {
    background-color: aqua;
    min-height: 100vh;
    position: relative;
    
}

aside {
    position: absolute;
    bottom: 0;
}