body {
    background-color: aquamarine;
}

main {
    background-color: bisque;
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 5;
}

.page-one {
    background-color: aqua;
    margin-top: 200px;
    position: relative;
    
}

.aside {
    background-color: transparent;
    width: 25%;
    position: fixed;
    top: 150px;
    right: 0;
}