

main {
    
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100vw;
}

.arrow {
	width: 5vmin;
	height: 5vmin;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 40px;
	transform: rotate(-45deg);
	
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .6vmin .6vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	&:hover::before {
		border-color: #D989B8;
		transform: scale(.8);
		
	}
	
}

.arrow-down {
	width: 5vmin;
	height: 5vmin;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	bottom: 40px;
	transform: rotate(135deg);
	
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .6vmin .6vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	&:hover::before {
		border-color: #D989B8;
		transform: scale(.8);
		
	}
	
}

.page-one {
    top: 100px;
    position: relative;
    
}

.p-me {
    margin-top: 150px;
    width: 70%;
}

.education-all {
    width: 70%;
}

.work-all {
    width: 70%;
}

.more {
    width: 70%;
}

.aside {
    background-color: transparent;
    width: 25%;
    position: fixed;
    top: 200px;
    right: 25px;
}

.info {
    margin-top: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    min-height: 70px;
    width: 100%;
    bottom: 0;
    position:absolute;
    border: 1px solid white;
  }
  .pic-one {
    background-color: #7CB5D2;
    
  }
  .pic-two {
    background-color: #9EC8D2;
    
  }
  .pic-tree {
    background-color: #B5E0DF;
    
  }
  .pic-four {
    background-color: #DCF2EE;
    
  }
  .pic-five {
    background-color: #B9EAED;
    
  }