

main {
    
    position: fixed;
    top: 10px;
    z-index: 5;
    width: 97%;
    left: 50%;
    transform: translateX(-50%);
}

.page-one {
    top: 100px;
    position: relative;
    
}

.p-me {
    margin-top: 150px;
    width: 70%;
}

.education-all {
    width: 70%;
}

.work-all {
    width: 70%;
}

.know {
    width: 70%;
}

.more {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.aside {
    
    background-color: transparent;
    width: 25%;
    position: fixed;
    top: 200px;
    right: 25px;
}

.info {
    margin-top: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    min-height: 70px;
    width: 100%;
    bottom: 0;
    position:absolute;
    border: 1px solid white;
  }
  .one {
    background-color: #7CB5D2;
    
  }
  .two {
    background-color: #9EC8D2;
    
  }
  .tree {
    background-color: #B5E0DF;
    
  }
  .four {
    background-color: #DCF2EE;
    
  }
  .five {
    background-color: #B9EAED;
    
  }