@import 'vendor/normalize';

@import 'base';

@import 'variables';

@media screen and (min-width: 768px) {
    @import 'tablet';
}

@media screen and (min-width: 1366px) {
    @import 'desktop';
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap')

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css)

